

<mat-nav-list>
    <div class="profile-card">

        <img src="https://source.unsplash.com/c_GmwfHBDzk/200x200" alt="soufiane fadil" />   
        <div class="header">
            <h4 class="name">Si l ba7ri</h4>
            <p class="designation">Software Engineer</p>
    
        </div> 
    </div>


    <mat-divider></mat-divider> <!--

        <a mat-button class="menu-button" routerLink="/">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </a>

        <mat-divider></mat-divider>

        <a mat-button class="menu-button">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
        </a>

        <mat-divider></mat-divider> -->

        <a mat-button class="menu-button" routerLink="/dashboard">
            <mat-icon>calendar_today</mat-icon>
            <span>Dashboard</span>
        </a>

        <mat-divider></mat-divider>

        <a mat-button class="menu-button" routerLink="/pointage">
            <mat-icon>calendar_today</mat-icon>
            <span>Pointage</span>
        </a>
        
        <mat-divider></mat-divider>

        <a mat-button class="menu-button" routerLink="/employees">
            <mat-icon>calendar_today</mat-icon>
            <span>Employees</span>
        </a>
        
        <mat-divider></mat-divider>

        <a mat-button class="menu-button" routerLink="/gestionnote">
            <mat-icon>work_outline</mat-icon>
            <span>announcements</span>
        </a>
    <!--

        <mat-divider></mat-divider>

        <a mat-button class="menu-button" routerLink="/projects">
            <mat-icon>work_outline</mat-icon>
            <span>projects</span>
        </a>
    

        <mat-divider></mat-divider>

        <a mat-button class="menu-button" routerLink="/vacation"> 
            <mat-icon>bookmark</mat-icon>
            <span>Vacations</span>
        </a>

        
        <mat-divider></mat-divider>

        <a mat-button class="menu-button" routerLink="/notifications">
            <mat-icon>speaker_notes</mat-icon>
            <span>Notifications</span>
        </a>
-->
        <mat-divider></mat-divider>

        <a mat-button class="menu-button" routerLink="/parameter">
            <mat-icon>settings</mat-icon>
            <span>Parameter</span>
        </a>

<!--
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/pointage">pointage</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/projects">projects</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/notifications">notifications</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/parameter">Parameters</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>



    <mat-divider></mat-divider>

    <h2 matSubheader>tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>
-->
</mat-nav-list>


