<div class="wrapper">
    <div class="left"> 
      <img src="https://source.unsplash.com/c_GmwfHBDzk/200x200" alt="soufiane fadil"   alt="user" width="150" class="img-circle" > <!-- src="http://localhost:8080/avatar/{{employe.idUser}}"  (click)="updatePhoto(employe)"-->
      <br>
      <br>
      <h4> prenom </h4> <!--{{employe.prenom}} {{employe.nom}}-->
      <h2> fonction </h2> <!--{{employe.fonction}}-->
  
    </div>
          
    <div class="right">
        
  
      <div class="info">
            <h3> Contact information</h3>
        <div class="info_data">
              <div class="data">
                <h4>Date of birth</h4>
                <p> </p> <!--{{employe.dateOfBirth}}-->
            </div>
            <div class="data">
              <h4>Phone</h4>
              <p> </p> <!--{{employe.phone}}-->
          </div>
          <div class="data">
            <h4>Email</h4>
            <p> </p> <!--{{employe.email}}-->
          </div>
          
  
      </div>
  
      <div class="info_data">
  
        <div class="data">
          <h4>Address</h4>
          <p> </p> <!--{{employe.adresse}}-->
        </div>
  
        <div class="data">
          <h4>CIN</h4>
          <p> </p> <!--{{employe.cin}}-->
      </div>
  
      <div class="data">
        <h4>CNSS</h4>
        <p> </p> <!--{{employe.cnss}}-->
    </div>
  
      </div>
    </div>
            
    <div class="projects">
  
        <h3> Post</h3>
        <div class="info_data">
          <div class="data">
            <h4>Department</h4>
            <p> </p> <!--{{employe.departement}}-->
          </div>
          <div class="data">
            <h4>Fonction</h4>
            <p> </p> <!--{{employe.fonction}}-->
          </div>
          <div class="data">
            <h4>Type of Contract</h4>
            <p> </p> <!--{{employe.typeContrat}}-->
          </div>
          
  
        </div>
          
        <div class="info_data">
          <div class="data">
            <h4>Entry date </h4>
            <p> </p> <!--{{employe.dateEntree}}-->
          </div>
          <div class="data">
            <h4>Salary</h4>
            <p> </p> <!--{{employe.salary}}-->
          </div>
          <div class="data">
            
          </div>
  
        </div>
          
      </div>
      <a class="btn" > <!--(click)="generateReport()" -->Export informations to PDF</a>
      
    </div>
  
    
  
  </div>