<div class="row box"><!--
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"> <a href="#">Home</a> </li>
            <li class="breadcrumb-item active" aria-current="page">Events</li>
        </ol>
    </nav>-->
    <h3><i class="fa fa-angle-right"></i> Pointage </h3>

    
    <button _ngcontent-roy-c3="" class="btnnote" type="submit" [routerLink]="['/pointage-employees']" > <!--(click)="onAddNote()"--> consulter les pointages </button>
    <div class="col-md-12 mt-3">
                <hr>
        <full-calendar [options]="calendarOptions">

        </full-calendar>
    </div>
</div>