
<h3><i class="fa fa-angle-right"></i> Projects </h3>
<div _ngcontent-roy-c3="" >
    
    <br _ngcontent-roy-c3="">
    
    <button _ngcontent-roy-c3="" class="btn-meeting" type="submit" style="margin-left: 30%; width: 30%;" >Add a project</button>
    <br><br><br>


    <div class="row justify-content-center">
        <div class="col-md-10">
    <table class="table table-striped card-body text" style="padding-left:50%;padding-right:10%">
    
        <thead class="thead-inverse">
        <tr>
          <th>title</th>
          <th>taches</th>
          <th>starting day</th>
          <th>final day</th>
          <th>actions</th>
        </tr>
        </thead>
        <tbody>
            <tr  >  <!--*ngFor="let meeting of meetings"-->
                <td>project titre</td>
                <td>taches à réaliser</td>
                <td>starting day of project</td>
                <td>final day of project</td>
                
                <td>
                    <div class="container" >
                    <button class="action-button btn-primary" ><mat-icon>edit</mat-icon></button>
                    <button class="action-button btn-danger" ><mat-icon>delete_outline</mat-icon></button>
                    </div>

                    
                  
              
                </td>
    
               
            </tr>
        </tbody>
      </table>
      </div>
    </div>
</div>


